/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

p{
	font-family: 'Shadows Into Light', cursive;
}

nav a{
	 margin:20px;
	 color:#bfbfbf;
	 text-decoration: none;
	 display: inline-block;
	 
	}
}
.navigation{
	margin: 2% 8%;
	
    
}

h1{
	font-size: 40px;
	margin:30px;
}

.head{
	display: inline-block;
}
.left{
	display: inline-block;
	width: 35%;
}
.right{
	display: inline-block;
    width: 35%;
	margin: 30px;
}
button {
		background-color: white;
		border: 1px solid;
		color: black;
		padding: 5px 25px;
		text-align: center;
		font-size: 16px;
		cursor: pointer;
		display: inline-block;
		
		  
		  
	  }



.equal1{
	width: 40%;
	height: 25%;
	display: inline-block;
}


.top-content{
	display: inline-block;
	margin: 2% 8%;
}

p{
	color: grey;
}
.middle-img{
	margin: 2% 8%;
}
.equal2{
	width: 26%;
	height: 25%;
	display: inline-block;
	
}
.bottom-content{
	display: inline-block;
	margin: 2% 8%;
}
.phone{
    margin: 8px 8px 8px 0;
}
.email{
	margin: 5px;
}
.contact{
	text-align: left;
	margin: 50px 220px;
}

footer{
	text-align: center;
}
.container{
	text-align: center;
}